<%- include('./partials/header.ejs') %>

  <div class="container">
    <div class="page-content">
      <a href="/blog/create/form" class="btn btn-outline-success mb-3">Create Post</a>
      <div class="row">

        <% if (message != "") { %>
          <div class="alert alert-success">
            <%= message %>
          </div>
          <% } %>

            <% posts.forEach(function(post){ %>
              <div class="col-md-3 mb-2">
                <div class="card">
                  <img src="<%= post.imageUrl %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= post.content %>
                    </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                      card's content.</p>
                    <a href="#" class="btn btn-primary">Delete</a>
                  </div>
                </div>
              </div>
              <% }); %>





      </div>
    </div>
  </div>


  <%- include('./partials/footer.ejs') %>